<div class="form-container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>

<div class="devise-links"><%= link_to "Log in", new_session_path(resource_name) %></div>
<% end %>

</div>
