<div class="container">
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<%= render @payment %>

<div class="content-button">
  <%= button_to "Destroy this payment", @payment, method: :delete %>
</div>

<div class="devise-links"><%= link_to 'Back to Categories', groups_path %></div>

</div>
