<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render @payment %>

<div>
  <%= link_to 'Back to Groups', groups_path %>
  <%= button_to "Destroy this payment", @payment, method: :delete %>
</div>
